<div >
    <form ng-submit= "login()">
        

        <div class="form-group" >
            <input type="number"  ng-model = "Id" placeholder="id" required>
           
        </div>

        <div class="form-group">
            <input type="password"  ng-model = "data.Password" placeholder="Password" required>
             
        </div>

       

       <button >

        <input  type="submit" value="Login" > 
       </button>
          
        
        <a href="#!MemberAdd"> Not yet registered?</a>
    </form>
</div>